<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=VT323&display=swap" rel="stylesheet">
    <title>tp3</title>
</head>
<body>
    <section class="arriba">
        <div class="arriba-izquirda">
            <P class="elegi">ELEGI</P>
            <p>Y</p>
            <p>LLEVALO</p>
        </div>
        <div class="arriba-derecha">
            <a href="/productos">PRODUCTOS</a>
            <button>BUSCAR</button>
            <div class="iconos">
                <a href="https://www.facebook.com/"><img src="..\static\imagenes\kisspng-facebook-computer-icons-logo-facebook-icon-5abb9662f0c326.8914343115222431709862.png" alt="facebook" class="img"></a>
                <a href="https://www.instagram.com/"><img src="..\static\imagenes\kisspng-instagram-computer-icons-logo-clip-art-well-5b50e0c919d6d5.9779015115320270811059.png" alt="instagram" class="img"></a>
                <a href="https://twitter.com/"><img src="..\static\imagenes\kisspng-computer-icons-logo-twitter-5ace902c1c8720.8415741215234867641169.png" alt="twitter" class="img"></a>
            </div>
        </div>
    </section>
    <section class="abajo">
        <div class="abajo-izquirda">
            <h2>CONSEJOS UTILES</h2>
        </div>
        <div class="abajo-derecha">
            <a href="https://www.youtube.com/"><img src="..\static\imagenes\pngegg.png" alt="youtube" class="youtube"></a>
        </div>
    </section>
    
        
</body>
</html>