<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/productos.css">
    <title>Productos</title>
</head>
<body>
    <table>
        <tr>
            <th>Producto</th>
            <th>Stock</th>
            <th>Precio Unitario</th>
        </tr>
        {% for producto in productos %}
        <tr>
            <td><a href="{{ url_for('obtener_producto', numero=producto.numero) }}">{{ producto.Producto }}</a></td>
            <td>{{ producto.Stock }}</td>
            <td>{{ producto.Precio_unitario }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="../">HOME</a>
</body>
</html>