<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mackowins</title>
</head>
<body>
    <h1>Mackowins</h1>
    <section class="Bienvenido">
        <p>Te damos la bienvenidaaaaaaa a MacoWins</p>
        <img src="https://www.shutterstock.com/image-photo/hands-holding-spanish-word-bienvenido-260nw-137187227.jpg" alt="Bienvenido">
    </section>
    <section class="about">
        <p></p>
    </section>
    <footer>pie de pagina</footer>
</body>
</html>