<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>tp2</title>
</head>
<body>
    <section class="circulos">
        <div class="rojo"></div>
        <div class="amarillo"></div>
        <div class="verde"></div>
    </section>
    <section class="rectangulo-medio">
        <p>EN UN CLICK</p>
        <h1>LIBRERIA</h1>
        <button>BUSCAR</button>
        <img src="../static/imagenes/kisspng-computer-mouse-pointer-cursor-hand-mouse-click-cliparts-5ab2c1a55a2065.5377805715216644213692.png" alt="click" class="click">
        <img src="../static/imagenes/kisspng-computer-mouse-pointer-cursor-clip-art-mouse-click-cliparts-5ab2d131591418.1447548315216684013649.png" alt="img-costado" class="img-costado">
    </section>
</body>
</html>