<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <title>REFRACT</title>
</head>
<body>
    <section class="titulo">
        <h1>IDP<span class="subindice">f(un) </span>/REFRA<img src="../static/imagenes/Screenshot 2023-06-28 203618.png" alt="C" class="letraC">T</h1>
        
    </section>
    <section class="visitas">
        <p>3RD REFRACT ANNUAL LATIN AMERICA VISIT</p>
        <p>&</p>
        <p>4TH IDPFUN ANNUAL ARGENTINA VISIT</p>
    </section>
    <section class="inscripciones">
        <div class="fondo">
            <h2>INSCRIPCIONES</h2>
            <h2>ABIERTAS</h2>
        </div>
    </section>
    <section class="verde">
        <div class="amarillo">
            <div class="fotos">
                <img src="../static/imagenes/kisspng-padlock-security-computer-icons-5afc14f5d3abf0.125875261526469877867.png" alt="candado" class="img">
                <div class="txt">
                    <p class="txt">OPEN</p>
                    <p class="txt">& FREE</p>
                </div>
            </div>
            <div class="fotos">
                <img src="../static/imagenes/kisspng-solar-calendar-symbol-computer-icons-encapsulated-calendar-icon-5ac41db8b0bae7.2492870115228021047239.png" alt="calendario" class="img">
                <div class="txt">
                    <p class="txt">PRESENTIAL</p>
                    <p class="txt">6 - 10 MARCH</p>  
                </div>
            </div>
            <div class="fotos">
                <img src="../static/imagenes/kisspng-logo-packaging-and-labeling-graphic-design-mac-laptop-png-5ab087abcb2770.4364621615215185078321.png" alt="laptop" class="img">
                <div class="txt">
                    <p class="txt">WORKSHOPS</p>
                    <p class="txt">Hands-On</p>
                </div>
            </div>
        </div>
    </section>
    <section class="final">
    </section>
</body>
</html>