body {
    background-color: #96f7d2;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
    border-top: 1px solid black;
}

th {
    background-color: #51fdbb;
}

button {
    background-color: #96f7d2;
}

.flecha {
    width: 50px;
    height: 5opx;
}

.flecha:hover {
    background-color: blue;
}